/*==========BORDERS============*/
bor-color=#428BCA
.border-bot-color
	border-bottom 3px solid bor-color
.border-top-color
	border-top 3px solid bor-color
/*=========FONTS=========*/
size=16px
family='SD Grunge Serifia' 
color-tex= black
.font-color
	color bor-color
.font-size
	font-size size
.font-famil
	font-family family