<div class="list-group">
    <a href="{% url 'asociaciones.views.index_asociacion' %}" class="list-group-item text-center active">Asociaciones</a>
    <a href="{% url 'asociaciones.views.new_association' %}" class="list-group-item">Nueva Asociación</a>
    <a href="{% url 'asociaciones.views.list_association_update' %}" class="list-group-item">Modificar Asociación</a>
    <a href="{% url 'asociaciones.views.list_detail_association' %}" class="list-group-item">Detalle de Asociación</a>
    <a href="{% url 'asociaciones.views.mi_association' %}" class="list-group-item text-center active">
        Mi Asociación
    </a>
</div>